
<html>
    <head>
            <link rel="shortcut icon" href="https://www.bhma.co.uk/media/catalog/product/cache/1/image/1000x1000/6b9ffbf72458f4fd2d3cb995d92e8889/f/l/flat_cut_letter_-_brushed_copper.jpg" >
        <title>BLOG APP</title>
        <link rel="stylesheet" type="text/css" href ="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"/>
        <link rel="stylesheet" type="text/css" href ="/stylesheets/app.css"/>   
    </head>
    <body>
        
<div class="ui fixed inverted menu">
   <div class="ui container"> 
    <div class="header item"><i class="code icon"></i>Blog Site</div>
    <h1>2nd Semester</h1><h2>Theory</h2><h3>Data Structres</h3>
    <h4>Affilated Institutes' Question Papers</h4></div><div class="animated zoomIn">
    <a href="/" class="item">HOME</a>
    <a href="/blogs/new" class="item">New Post</a>
</div>
</div>
